In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv("X:\\Neil\\Code\\coding IEEE\\CSV\\housing.csv")

In [10]:
data = data.replace({'yes': 1, 'no': 0})
data = data.replace({'furnished' : 1,'semi-furnished' : 0.5, 'unfurnished' : 0})
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0.0
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0.5
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0.0
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1.0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0.0

In [11]:
data=data[data.notnull().all(1)]
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0.0
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0.5
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0.0
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1.0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0.0

In [12]:
x = np.array(data.iloc[0: ,1:])
y = np.array(data.iloc[0: ,0:1])
x.shape

(545, 12)

In [13]:
def loss_function(w,b,x,y):
    total_error = 0
    ##for i in range(len(x)):
        ##xd = x[i]
        ##yd = y[i]
    y_hat=[]
    for i in range(len(x)):
        y_hat.append(np.dot(w,x[i]) + b)
    y_hat=np.array(y_hat)
    total_error = np.sum((y_hat-y)**2)
        
        ##total_error += (yd - (np.dot(w,xd) + b)) ** 2
    total_cost = total_error/(len(x))
    return total_cost

In [14]:
def gd(x,y,l,w_now,b_now):
    w_gradient = np.zeros(12)
    b_gradient = 0
    
    n = len(x)
    
    for i in range(len(x)): 
        xd = x[i]
        yd = y[i]
        
        w_gradient += (1/n)*xd*(yd - (np.dot(w_now,xd) + b_now))
        b_gradient += (1/n)*(yd-(np.dot(w_now,xd) + b_now))
    
    w = w_now - l*w_gradient
    b = b_now - l*b_gradient
    return w,b

In [17]:
w = np.zeros(12)
b = 0
epochs = 1000
l = 0.0000000001


for i in range(epochs):
    w,b = gd(x,y,l,w,b,)
    cost = loss_function(w,b,x,y)
    if i % 50 == 0:
        print(f"epochs: {i}")
        print(cost)
        print(w)

print(w,b)

epochs: 0
26356878714527.96
[-2.67229201e+00 -1.46390263e-03 -6.61666767e-04 -9.28774360e-04
 -4.28651705e-04 -1.03102936e-04 -1.83732018e-04 -2.55044037e-05
 -1.89775035e-04 -3.92442914e-04 -1.38076670e-04 -2.43376411e-04]
epochs: 50
34775948881029.11
[-1.47490818e+02 -8.02252560e-02 -3.61974612e-02 -5.07604148e-02
 -2.35262789e-02 -5.62887485e-03 -1.00355245e-02 -1.38398627e-03
 -1.03420983e-02 -2.15325623e-02 -7.55331689e-03 -1.33224217e-02]
epochs: 100
46275435445819.42
[-3.16741836e+02 -1.71124914e-01 -7.70813463e-02 -1.07991028e-01
 -5.02548764e-02 -1.19628719e-02 -2.13379056e-02 -2.92403755e-03
 -2.19414773e-02 -4.59829388e-02 -1.60837858e-02 -2.83864014e-02]
epochs: 150
61982418365431.734
[-5.14547376e+02 -2.76210742e-01 -1.24215604e-01 -1.73868903e-01
 -8.12270292e-02 -1.92414506e-02 -3.43356055e-02 -4.67629102e-03
 -3.52320462e-02 -7.43020497e-02 -2.59176350e-02 -4.57701958e-02]
epochs: 200
83436359905856.77
[-7.45724904e+02 -3.97876106e-01 -1.78654742e-01 -2.49852929e-01
 -1.17158672e-01 -2.76239725e-02 -4.93146435e-02 -6.67654752e-03
 -5.04991277e-02 -1.07142593e-01 -3.72747590e-02 -6.58651834e-02]
epochs: 250
112739989385163.14
[-1.01590464e+03 -5.38918156e-01 -2.41631173e-01 -3.37648124e-01
 -1.58886526e-01 -3.72966848e-02 -6.66092932e-02 -8.96664794e-03
 -6.80761813e-02 -1.45267385e-01 -5.04121512e-02 -8.91287726e-02]
epochs: 300
152765394468468.1
[-1.33166670e+03 -7.02605954e-01 -3.14585235e-01 -4.39247165e-01
 -2.07388475e-01 -4.84772570e-02 -8.66102238e-02 -1.15954921e-02
 -8.83529247e-02 -1.89567937e-01 -6.56301625e-02 -1.16095541e-01]
epochs: 350
207435518296971.97
[-1.70070131e+03 -8.92760088e-01 -3.99200263e-01 -5.56978912e-01
 -2.63807386e-01 -6.14200819e-02 -1.09774015e-01 -1.46202299e-02
 -1.11784826e-01 -2.41086167e-01 -8.32798165e-02 -1.47390258e-01]
epochs: 400
282108652358781.3
[-2.13199615e+03 -1.11384572e+00 -4.97443592e-01 -6.93565133e-01
 -3.29478936e-01 -7.64224709e-02 -1.36634277e-01 -1.81076530e-02
 -1.38904194e-01 -3.01039779e-01 -1.03771358e-01 -1.83743093e-01]
epochs: 450
384103609758774.06
[-2.63605521e+03 -1.37108135e+00 -6.11614468e-01 -8.52186785e-01
 -4.05964149e-01 -9.38318953e-02 -1.67814644e-01 -2.21358214e-02
 -1.70333147e-01 -3.70851913e-01 -1.27584246e-01 -2.26007410e-01]
epochs: 500
523417051817641.3
[-3.22515463e+03 -1.67056586e+00 -7.44400043e-01 -1.03656149e+00
 -4.95087410e-01 -1.14054449e-01 -2.04043966e-01 -2.67959650e-02
 -2.06798759e-01 -4.52185814e-01 -1.55278827e-01 -2.75180539e-01]
epochs: 550
713703274133393.4
[-3.91364163e+03 -2.01942712e+00 -8.98940824e-01 -1.25103407e+00
 -5.98980896e-01 -1.37564737e-01 -2.46174059e-01 -3.21947048e-02
 -2.49150769e-01 -5.46985329e-01 -1.87509986e-01 -3.32428075e-01]
epochs: 600
973612482239346.2
[-4.71828403e+03 -2.42599553e+00 -1.07890716e+00 -1.50068238e+00
 -7.20136510e-01 -1.64917438e-01 -2.95200447e-01 -3.84566504e-02
 -2.98382279e-01 -6.57522257e-01 -2.25043094e-01 -3.99112259e-01]
epochs: 650
1328618723034382.8
[-5.65867851e+03 -2.90000693e+00 -1.28858861e+00 -1.79144095e+00
 -8.61466562e-01 -1.96760809e-01 -3.52286612e-01 -4.57274340e-02
 -3.55653937e-01 -7.86451675e-01 -2.68772649e-01 -4.76825157e-01]
epochs: 700
1813516629974278.0
[-6.75772797e+03 -3.45283969e+00 -1.53299846e+00 -2.13024553e+00
 -1.02637471e+00 -2.33852475e-01 -4.18792327e-01 -5.41772578e-02
 -4.22322204e-01 -9.36876599e-01 -3.19744060e-01 -5.67427437e-01]
epochs: 750
2475831691338419.5
[-8.04219924e+03 -4.09779185e+00 -1.81799576e+00 -2.52520202e+00
 -1.21883882e+00 -2.77077882e-01 -4.96306775e-01 -6.40050390e-02
 -4.99972393e-01 -1.11242356e+00 -3.79179108e-01 -6.73093680e-01]
epochs: 800
3380478286496989.0
[-9.54337504e+03 -4.85040499e+00 -2.15042807e+00 -2.98578386e+00
 -1.44350791e+00 -3.27471861e-01 -5.86687252e-01 -7.54432542e-02
 -5.90457274e-01 -1.31733092e+00 -4.48505703e-01 -7.96365343e-01]
epochs: 850
4616122030503612.0
[-1.12978158e+04 -5.72884268e+00 -2.53829821e+00 -3.52306279e+00
 -1.70581532e+00 -3.86243828e-01 -6.92104398e-01 -8.87636015e-02
 -6.95942205e-01 -1.55655211e+00 -5.29392657e-01 -9.40212656e-01]
epochs: 900
6303870008862492.0
[-1.33482502e+04 -6.75433294e+00 -2.99095914e+00 -4.14997846e+00
 -2.01211103e+00 -4.54807244e-01 -8.15095066e-01 -1.04283617e-01
 -8.18957857e-01 -1.83587625e+00 -6.23790333e-01 -1.10810696e+00]
epochs: 950
8609140643928834.0
[-1.57446156e+04 -7.95168516e+00 -3.51934180e+00 -4.88165356e+00
 -2.36981636e+00 -5.34814033e-01 -9.58624105e-01 -1.22374410e-01
 -9.62461860e-01 -2.16206915e+00 -7.33978138e-01 -1.30410525e+00]
[-1.84848758e+04 -9.31975143e+00 -4.12292374e+00 -5.71735194e+00
 -2.77859719e+00 -6.26182134e-01 -1.12254554e+00 -1.43015203e-01
 -1.12630211e+00 -2.53482454e+00 -8.59847029e-01 -1.52801581e+00] [-3.08461783]